In [1]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns
import pandas as pd
from copy import deepcopy as cp

In [63]:
# Get Metadata
code_path_str = '/Users/peter/OneDrive/Peter/JHU/DataMining/project/heart_disease_dm/'

meta_data_df = pd.read_csv(code_path_str+'meta_data.csv')

meta2pdtype = {'numeric':np.float64,'bool':np.bool,'categorical':'category'}

meta_data_df.head()

,name,datatype,description,id
0,age,numeric,age in years,3
1,sex,bool,sex (1 = male; 0 = female),4
2,cp,categorical,chest pain type\r -- Value 1: typical angina...,9
3,trestbps,numeric,resting blood pressure (in mm Hg on admission ...,10
4,chol,numeric,serum cholestoral,12

In [90]:
# Import Raw Data
data_path_str = '/Users/peter/OneDrive/Peter/JHU/DataMining/project/data/'

data_file_name_str = 'processed.cleveland.data.txt'

column_names =  ['age' ,'sex' ,'cp' ,'trestbps', 
                 'chol' ,'fbs' ,'restecg' ,'thalach',
                 'exang' ,'oldpeak' ,'slope',
                 'ca' ,'thal' ,'num']

# Associate Columns with datatypes
dtype_map = {}
for col in column_names:
    meta_datatype = meta_data_df['datatype'].loc[meta_data_df['name']==col].iloc[0]
    dtype_map[col] = meta2pdtype[meta_datatype]
    
# Read in the data
data_df = pd.read_csv((data_path_str+data_file_name_str),
                      names=column_names, dtype=dtype_map)

data_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,True,1.0,145.0,233.0,True,2.0,150.0,False,2.3,3.0,0.0,6.0,0
1,67.0,True,4.0,160.0,286.0,False,2.0,108.0,True,1.5,2.0,3.0,3.0,2
2,67.0,True,4.0,120.0,229.0,False,2.0,129.0,True,2.6,2.0,2.0,7.0,1
3,37.0,True,3.0,130.0,250.0,False,0.0,187.0,False,3.5,3.0,0.0,3.0,0
4,41.0,False,2.0,130.0,204.0,False,2.0,172.0,False,1.4,1.0,0.0,3.0,0

In [100]:
# Basic Pre-processing:
data_df['ispos_truth'] = data_df['num'] != '0'
data_df.drop('num', 1,inplace=True)

In [103]:
output_path_str = '/Users/peter/OneDrive/Peter/JHU/DataMining/project/output/'
data_df.to_pickle(output_path_str + 'raw_df.pkl')