In [1]:
import numpy as np
import logging
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import heart_disease.plotting as hdp
import heart_disease.preprocessing as hdpp
import heart_disease.parameter_optimization as hdpo
from heart_disease.globals import data_path, output_path

import seaborn as sns
import pandas as pd
from copy import deepcopy as cp
%load_ext autoreload

from heart_disease.globals import code_path, raw_data_path, data_path, output_path
from heart_disease.

%autoreload 2

In [2]:
LOG_FMT = '%(asctime)s|%(name)s|%(levelname)s|%(message)s'
logging.basicConfig(level=logging.INFO, format=LOG_FMT)
logger = logging.getLogger(__name__)

In [3]:
# Get Metadata
meta_data_df = pd.read_csv(data_path+'meta_data.csv')
meta_data_df.head()

,name,datatype,description,id
0,age,numeric,age in years,3
1,sex,bool,sex (1 = male; 0 = female),4
2,cp,categorical,chest pain type\r -- Value 1: typical angina...,9
3,trestbps,numeric,resting blood pressure (in mm Hg on admission ...,10
4,chol,numeric,serum cholestoral,12

In [4]:
# Import Raw Data
data_file_name_str = 'train_validation.cleveland.csv'
data_df = hdpp.load_data(data_path+data_file_name_str)
data_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,ispos_truth
pat_id,,,,,,,,,,,,,,
162,54.0,0.0,3.0,110.0,214.0,0.0,0.0,158.0,0.0,1.6,2.0,0.0,3.0,False
18,48.0,0.0,3.0,130.0,275.0,0.0,0.0,139.0,0.0,0.2,1.0,0.0,3.0,False
100,45.0,1.0,4.0,115.0,260.0,0.0,2.0,185.0,0.0,0.0,1.0,0.0,3.0,False
78,48.0,1.0,2.0,130.0,245.0,0.0,2.0,180.0,0.0,0.2,2.0,0.0,3.0,False
262,60.0,0.0,1.0,150.0,240.0,0.0,0.0,171.0,0.0,0.9,1.0,0.0,3.0,False

In [15]:
search_results = pd.read_pickle(output_path+'GMgrid_search.pkl')
search_results.head()

,mean_fit_time,mean_score_time,mean_test_score,mean_train_score,param_classifier__covariance_type,param_classifier__n_components,param_feature__n_components,params,rank_test_score,split0_test_score,...,split7_test_score,split7_train_score,split8_test_score,split8_train_score,split9_test_score,split9_train_score,std_fit_time,std_score_time,std_test_score,std_train_score
0,0.013587,0.004956,0.54386,0.541176,full,1,1,"{'classifier__covariance_type': 'full', 'class...",4,0.54386,...,0.54386,0.541176,0.54386,0.541176,0.54386,0.541176,0.003720,0.001561,0.0,0.0
1,0.011733,0.004697,0.54386,0.541176,full,1,2,"{'classifier__covariance_type': 'full', 'class...",4,0.54386,...,0.54386,0.541176,0.54386,0.541176,0.54386,0.541176,0.001730,0.001291,0.0,0.0
2,0.010478,0.005142,0.54386,0.541176,full,1,5,"{'classifier__covariance_type': 'full', 'class...",4,0.54386,...,0.54386,0.541176,0.54386,0.541176,0.54386,0.541176,0.001295,0.002556,0.0,0.0
3,0.010436,0.004006,0.54386,0.541176,full,1,10,"{'classifier__covariance_type': 'full', 'class...",4,0.54386,...,0.54386,0.541176,0.54386,0.541176,0.54386,0.541176,0.002525,0.001273,0.0,0.0
4,0.009695,0.004134,0.54386,0.541176,full,1,15,"{'classifier__covariance_type': 'full', 'class...",4,0.54386,...,0.54386,0.541176,0.54386,0.541176,0.54386,0.541176,0.001983,0.001850,0.0,0.0