In [1]:
import numpy as np
import logging
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import heart_disease.preprocessing as pre_proc
import seaborn as sns
import pandas as pd
from copy import deepcopy as cp
%load_ext autoreload

from heart_disease.globals import code_path_str, data_path_str

%autoreload 2

In [3]:
# Get Metadata
meta_data_df = pd.read_csv(code_path_str+'meta_data.csv')

In [4]:
# Import Raw Data
data_file_name_str = 'processed.va.data.txt'
data_df = pre_proc.load_raw_data(data_file_name_str)
data_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,ispos_truth
0,63.0,1.0,4,140.0,260.0,0.0,1,112.0,1.0,3.0,2,NaN,NaN,True
1,44.0,1.0,4,130.0,209.0,0.0,1,127.0,0.0,0.0,NaN,NaN,NaN,False
2,60.0,1.0,4,132.0,218.0,0.0,1,140.0,1.0,1.5,3,NaN,NaN,True
3,55.0,1.0,4,142.0,228.0,0.0,1,149.0,1.0,2.5,1,NaN,NaN,True
4,66.0,1.0,3,110.0,213.0,1.0,2,99.0,1.0,1.3,2,NaN,NaN,False

In [5]:
clean_df, preproc_dict = pre_proc.clean_data(data_df)
clean_df.head()

INFO:root:Constructing New Numeric Imputer
INFO:root:Constructing New Numeric Scalar
INFO:root:Constructing New Categorical Imputer
INFO:root:Constructing New One Hot Dictionary
INFO:root:Constructing New Boolean Imputer

,trestbps,chol,age,thalach,oldpeak,thal_is3,thal_is6,thal_is7,cp_is1,cp_is2,...,slope_is2,slope_is3,restecg_is0,restecg_is1,restecg_is2,ca_is0,fbs,exang,sex,ispos_truth
0,0.342421,0.727226,0.468421,-0.574601,1.795117,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,True
1,-0.206673,0.270774,-1.969933,0.223758,-1.412040,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,False
2,-0.096854,0.351324,0.083417,0.915669,0.191539,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,True
3,0.452240,0.440825,-0.558255,1.394684,1.260591,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,True
4,-1.304862,0.306574,0.853424,-1.266512,-0.022272,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,False